@import '../../styles/variables.scss';
@import '../../styles/media.scss';
@import '../../styles/base.scss';

.slider_team {
  padding-top: 90px;
  margin-bottom: 63px;
}

.wrap_team_list {
  max-width: 975px;
}

.slides_team {
  margin-left: 15px;
}

.control_team {
  top: 30%;
}

.control_team_list {
  top: 39%;
}

.slider_team_list {
  margin-bottom: 0;
}