@import '../../../../styles/variables.scss';

.txt {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;

  &_variant_team {
    font-size: $txtMedium;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 1.4;
    margin-bottom: 27px;
  }
}

