@import '../../../../styles/variables.scss';

.points {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  margin-bottom: 75px;
}

.point {
  width: 11px;
  height: 11px;
  border: 1px solid $darkGrey;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  margin-top: 22px;

  &:hover {
    background-color: $darkGrey;
  }
}