@import '../../../../styles/variables.scss';

.name_team {
  margin-bottom: 0;
}

.text_team {
  font-size: $txtMedium;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 1.4;
  margin-bottom: 27px;
}

.slider_team {
  padding-top: 90px;
  margin-bottom: 63px;
}

.control_team {
  top: 30%;
}
