@import '../../../../styles/media.scss';

.social_team_square {
  margin-left: 0;
  margin-top: 20px;
}

.slides_team {
  margin-left: 15px;
}

.control_team_square {
  top: 39%;
}

.slider_team_square {
  margin-bottom: 0;
}
